{% extends 'base.html' %}
{% block title %}{{ profiled_user }}'s Profile{% endblock %}

{% block content %}
<h1>{{ profiled_user }}'s Profile</h1>
<div>
    <h2>Data</h2>
    <p>follows: {{ follow_num }}</p>
    <p>follower: {{ follower_num }}</p>
    {% if following_state %}
    <p>following state : {{ following_state|capfirst }}</p>
    {% endif %}
</div>
<div>
    <h2>{{ profiled_user }}'s Tm33t</h2>
    {% for tm33t in latest_tm33t_list %}
    <div>
        <p>{{ tm33t.content|linebreaksbr }}</p>
        <p>Tm33ted : {{ tm33t.post_time }}</p>
        <p>By : @{{ tm33t.poster }}</p>
    </div>
    {% empty %}
    <p>{{ profiled_user }} haven't tm33ted yet.</p>
    {% endfor %}
</div>
{% endblock %}
