{% for tm33t in latest_tm33t_list %}
<div>
    <p>{{ tm33t.content|linebreaksbr }}</p>
    <p>Tm33ted : {{ tm33t.post_time }}</p>
    <p>By : @{{ tm33t.poster }}</p>
    <p><a href="{% url 'tmitt3r:detail' tm33t.pk %}">詳細</a></p>
    <div>
        <a href="{% url 'tmitt3r:reply' tm33t.pk %}">
            <i class="fas fa-reply"></i>
        </a>
        {% if tm33t.state == 'like' %}
        <button type="button" onclick="tm33tLikeAjax(this)" data-state="like" data-tm33t-pk="{{ tm33t.pk }}">
            <i class="fas fa-heart heart like"></i>
        </button>
        {% else %}
        <button type="button" onclick="tm33tLikeAjax(this)" data-state="unlike" data-tm33t-pk="{{ tm33t.pk }}">
            <i class="far fa-heart heart"></i>
        </button>
        {% endif %}
    </div>
</div>
{% empty %}
    {% if name == request.user %}
        <p>You haven't tm33ted yet.</p>
    {% else %}
        <p>{{ name }} haven't tm33ted yet.</p>
    {% endif %}
{% endfor %}
